<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
    <div id="background">
        <picture>
            <source media="(min-width: 801px)" srcset="/images/site/small_check.jpg">
            <img src="/images/site/small_check.jpg" alt="background image" width="1200" height="800" loading="lazy">
        </picture>
    </div>

    
    <div id="wrapper">
        <%- include ('../partials/header') %>
        <%- include ('../partials/navigation') %>

        <main>
           
            <%- body %>
        </main>

        <%- include ('../partials/footer') %>
    </div>
</body>
</html>