<!-- This is the content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>


<% if (errors && errors.length > 0) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>


<!-- This is the content -->
 <div class="content">
    <div class="add-view-container">
    <form action="/inv/add-inventory" id="add-inventory" method="post">
        <div class="form-group">
        <label>Classification:</label>
        <%- classificationList %> 
        </div>
        <div class="form-group">
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make" required  value="<%= locals.inv_make %>">
        </div>
        <div class="form-group">
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>">
        </div>
        <div class="form-group">
        <label for="inv_year">Year:</label>
        <input type="text" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>">
        </div>
        <div class="form-group">
        <label for="inv_description">Description:</label>
        <input type="text" id="inv_description" name="inv_description" required value="<%= locals.inv_description %>">
        </div>
        <div class="form-group">
        <label for="inv_image">Image Path:</label>
        <input type="text" id="inv_image" name="inv_image" required value="/images/vehicles/no-image.png">
        </div>
        <div class="form-group">
        <label for="inv_thumbnail">Thumbnail Path:</label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="/images/vehicles/no-image.png">
        </div>
        <div class="form-group">
        <label for="inv_price">Price:</label>
        <input type="text" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>">
        </div>
                <div class="form-group">
        <label for="inv_miles">Miles:</label>
        <input type="text" id="inv_miles" name="inv_miles" required value="<%= locals.inv_miles %>">
        </div>
                <div class="form-group">
        <label for="inv_color">Color:</label>
        <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
        </div>
        <div class="form-group">
        <button type="submit">Add Classification</button>
        </div>
        </form>
    </div>
</div>
    