<!-- This is the content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>


<% if (errors && errors.length > 0) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>


<!-- This is the content -->
 <div class="content">
    <p>Confirm Deletion - The deletion is permanent.</p>
    <div class="add-view-container">
    <form action="/inv/delete" method="post">
        <div class="form-group">
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make" readonly value="<%= inv_make %>">
        </div>
        <div class="form-group">
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model" readonly value="<%= inv_model %>">
        </div>
        <div class="form-group">
        <label for="inv_year">Year:</label>
        <input type="text" id="inv_year" name="inv_year" readonly value="<%= inv_year %>">
        </div>


        <div class="form-group">
        <label for="inv_price">Price:</label>
        <input type="text" id="inv_price" name="inv_price" readonly value="<%= inv_price %>">
        </div>
                <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
        <div class="form-group">
        <button type="submit">Delete Item</button>
        </div>
        </form>
    </div>
</div>
    